@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* border: 3px red inset; */
}

body {
  font-family: "Open Sans";
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #333;
  font-size: 17px;
  font-weight: bold;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.form-02-main {
  background: url(/Images/bg-01.jpg);
  /* color: #f0f0f0;
  color: #f8e8e2; */
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

._lk_de {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
  position: relative;
}

.form-03-main {
  width: 50%;
  display: block;
  margin: 20px auto;
  padding: 25px 50px 25px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  z-index: 9;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.remember-label {
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Alignement vertical au centre */
}

.checkbox.form-group {
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Alignement vertical au centre */
}

.remember-label input[type="checkbox"] {
  margin-right: 10px; /* Espacement entre le label et le champ de saisie */
  flex-shrink: 0; /* Empêche le rétrécissement du champ de saisie */
}
.form-group {
  padding: 10px 0px;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
}

label {
  width: 40%; /* Largeur fixe pour les labels */
  margin-right: 10px; /* Espacement entre le label et le champ de saisie */
}
[class="form-group inscription_1"] {
  margin: 0px;
  margin-left: 3px;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 600;
}

[class="form-group btn_inscription"] > a {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

[class="form-group nm_lk"] {
  display: flex;
  justify-content: space-around;
}

.form-control {
  min-height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid #2b3990;
  flex: 1; /* Le champ de saisie occupe tout l'espace disponible */
}

.checkbox {
  display: flex;
  justify-content: space-around;
}

._btn_04 {
  width: 50%;
  padding: 10px 10px;
  background: #2b3990;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

._btn_04 a {
  font-size: 15px;
  color: #fff;
  font-size: 18px;
}

._social_04 {
  display: block;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

._social_04 ol li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.2s;
  background: #fff;
  border-radius: 50px;
  border: 1px solid#2b3990;
  margin: 0 0 0 10px;
  transition: 0.2s;
}

._social_04 ol li:nth-child(1):hover {
  background: #333;
  border: 1px solid#333;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(2):hover {
  background: #00aced;
  border: 1px solid#00aced;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(3):hover {
  background: #c32f10;
  border: 1px solid#c32f10;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(4):hover {
  background: #e1306c;
  border: 1px solid#E1306C;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(5):hover {
  background: #0177b5;
  border: 1px solid#0177b5;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:hover,
._social_04 ol li:hover i {
  color: #fff;
}

._social_04 ol li i:nth-child(1):hover {
  color: #fff;
}

._social_04 ol li i {
  font-size: 15px;
  color: #2b3990;
}

.nm_lk {
  text-align: center;
}

.forgot_password {
  color: red;
  text-decoration: underline;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .form-03-main {
    width: 100%;
  }
}
